@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap");
$primaryColor: #a59678;
$secondaryColor: #3b4050;

*,
* ::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

header {
  background-color: #2e323f;

  a {
    text-decoration: none;
    color: white;
    padding: 0 0.5em;

    &:hover{
      opacity: .75;
    }
  }

  li {
    list-style: none;
    font-family: "oswald";
    font-size: 18px;
    color: white;
    margin-bottom: 10px;

   
  }

  


  .registerCTA {
    border: 3px solid $primaryColor;
    display: inline-block;
    background-color: $primaryColor;
    border-radius: 100em;
    padding: 0 0.2em;
    
  }

  .icon {
    
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    margin-top: 5px;
    margin-right: 10px;
  }
    
  #myLinks{
  display: none;
}


  nav {
    overflow: hidden;
    position: relative;
    padding: .5em 0;
    display: flex;
    justify-content: center;
    align-items: center;

    li+li{
      margin-top: .5em;
    }

    .navLeft {
      width: 30%;
      align-self: center;
    }

    ul{
    width:70%;
    padding: 0;
    margin: 0;
    text-align: center;
    }


    img{
      margin-left: 30px
    };
    

  }
}
